<!DOCTYPE html>
<html lang="en">
    <head>
       <title>Hello，天龍國</title>

       <meta charset="utf-8">
       <meta name="description" content="">
       <meta name="author" content="">

       <!-- css ref.-->
       <link href="../dist/css/bootstrap.min.css" rel="stylesheet">
       <link href="../dist/css/bootstrap-theme.min.css" rel="stylesheet">
       <link href="../dist/css/mrt.css" rel="stylesheet">
       <link href='https://fonts.googleapis.com/css?family=Ubuntu:500' rel='stylesheet' type='text/css'>

       <!-- js ref.-->
       <script src="../dist/js/jquery.min.js"></script>
       <script src="../dist/js/bootstrap.min.js"></script>
   </head>

   <body role="content" >
      <p style="font-family: 'cwTeXYen', serif;">你好</p>
      <p >我好</p>
   </body>
</html>
